.checklist .vertical li .check {
	float: left;
	width: 49%;
}

.checklist .vertical li .response {
	float: right;
	width: 49%;
}

.checklist .vertical li .handle {
    top: 0;
}

.checklist .vertical li .handle .item {
    height: 4px;
}

.checklist .vertical li .add {
    top: 7px;
}

.downloads .plane-icon {
	top: 0px;
}
    
.nav ul .item .header {
    font-size: 24px;
    top: 19px;
}

.nav ul {
    margin: 0;
}

.dashboard-planes-selector .plane-icon {
    width: 175px;
}

.dashboard-planes-selector .vertical li ul li {
    padding: 10px 40px 14px 0;
}

.flyover {
	left: 23.3%;
	height: 350px;
	right: 0px;
	width: 400px;
}

.username {
    bottom: 21px;
    font-size: 17px;
}

/** Media Queries **/
@media only screen and (orientation: portrait) {
	.emergencies ul li {
		width: 22%;
	}
    
    .CProw {
        font-size: 13pt;
    }
}

@media only screen and (orientation: landscape) {
	.emergencies ul li {
		width: 22%;
	}
    
    .CProw {
        font-size: 18pt;
    }
}