.dashcontent {
    top: 120px;
}

.checklist .vertical li,
.downloads .vertical li {
    .check {
        float: left;
        width: 49%;

        &.fullwidth {
            width: 100%;
        }
    }

    .response {
        float: right;
        width: 49%;
    }

    .handle {
        top: 3px;

        .item {
            height: 4px;
        }
    }

    .add {
        top: 10px;
    }

    .checkmark {
        width: 25px;
        height: 25px;
        top: 10px;

        .checker .icon {
            left: -5px;
            top: -4px;
            margin: 0;
        }
    }
}

.downloads .plane-icon {
    top: 0px;
}

.nav ul {
    margin: 0 auto;

    .item .header {
        font-size: 24px;
        top: 19px;
    }
}

.nav.dashnav ul {
    margin: 0;
}

.shadow {
    height: 30px;
}

.dashboard-planes-selector {
    .plane-icon {
        width: 175px;
    }

    .vertical li ul li {
        padding: 10px 40px 14px 0;
    }
}

.username {
    bottom: 21px;
    font-size: 17px;
}

.flyover {
    bottom: auto;
    margin-top: 82px;
}

.check-sections {
    position: relative;
}

.dashboard-planes-selector {
    .vertical li ul li {
        font-size: 20px;
        min-width: 60px;
    }

    .heading, .theme-light .downloads .heading {
        font-size: 26px;
    }

    .subheading, .theme-light .downloads .subheading {
        font-size: 18px;
    }
}

.logoSection {
    height: 84px;

    p {
        font-size: 45px;
        padding: 19px 0 0 10px;
    }

    .logo {
        height: 84px;
        width: 214px;
    }
}

.menu ul li {
    p {
        font-size: 20px;
    }

    .icon {
//        padding: 15px 0 15px 15px;
    }
}

.emergencies ul li .icon div {
    height: 100px;
}

.e6b .textbox {
    width: 300px;
}

.checklist .vertical li {
    .check {
        margin-bottom: 6px;
    }

    .response {
        font-size: 21px;
    }
}

/** Media Queries **/
@media only screen and (orientation: portrait) {
    .emergencies ul li {
        width: 22%;
        margin-top: 15px;
    }

    .CProw {
        font-size: inherit;

        .CPcell {
            padding-right: 20px;
        }
    }
}

@media only screen and (orientation: landscape) {
    .emergencies ul li {
        width: 22%;
        margin-top: 15px;
    }

    .CProw {
        font-size: inherit;

        .CPcell {
            padding-right: 20px;
        }
    }
}

