.theme-light .dashboard-planes-selector .vertical li ul li {
	font-size: 20px;
}

.theme-light .dashboard-planes-selector .vertical li ul li {
	min-width: 60px;
}

.theme-light .checklist .vertical li .response {
	font-size: 21px;
}

.theme-light .dashboard-planes-selector .heading, .theme-light .downloads .heading {
    font-size: 26px;
}

.theme-light .dashboard-planes-selector .subheading, .theme-light .downloads .subheading {
    font-size: 18px;
}

.theme-light .menu ul li p {
    font-size: 20px;
}

.theme-light .emergencies ul li .icon div {
    height: 100px;
}