@skin: "light";

@colorPrimary:              @color34;
@colorSecondary:            @color86;
@colorAccent:               @colorab;

@colorBody:                 @colorff;
@colorLink:                 @colord7;
@colorLinkHover:            @color11;

@colorInputBorder:          @colordd;
@colorInputBkg:             @colorea;
@colorInputText:            @color34;

@colorFlyoverBorderTop:     @color66;
@colorFlyoverBorderBottom:  @color00;
@colorFlyoverText:          @colorff;

// Nav
@colorNavActive:            @colorcd;
@colorNavBorder:            @colorcd;
@colorNavText:              @color43;
@colorNavIcon:              @color7c;

// Menu
@colorMenuBackground:       @color1e;
@colorMenuText:             @colordd;
@colorMenuIcon:             @colorbc;
@colorMenuBorderTop:        @color34;
@colorMenuBorderBottom:     @color00;

// Top bar
@colorTopBackground:        @colorea;
@colorTopText:              @color66;
@colorTopActiveText:        @colorBlue4;
@colorTopActiveBackground:  @colordd;
@colorTopBorder:            @colordd;

@colorSectionnav:           @colorcd;
@colorSectionnavText:       @color00;
@colorSectionnavBorder:     @color9b;

// Dashboard
@colorDashHeader:           @color11;
@colorDashHeading:          @color11;
@colorDashSubheading:       @color66;
@colorDashText:             @colord7;
@colorDashTail:             @color00;
@colorDashNavHeader:        @color34;
@colorDashNavSubheader:     @color66;
@colorDashLink:             @colorBlue4;
@colorDashActiveBackground: @colorea;
@colorDashPlaneOpacity:     1;

// Checklist
@colorCheck:                @colorPrimary;
@colorResponse:             @colorSecondary;
@colorChecklistBorder:      @colorcd;
@colorChecklistBorder2:     transparent;

// Checkmark
@colorCheckmarkBorder:      @colorcd;

// Buttons
@colorButtonText:           @color66;
@colorButtonIcon:           @color9b;
@colorButton2Text:          @color9b;
@colorButton2Icon:          @colorab;
@colorButtonTextModal:      @color9b;
@colorButtonIconModal:      @color66;
@colorButton2TextModal:     @colorab;
@colorButton2IconModal:     @color9b;

@colorGetStarted:           @colorab;

// Handle
@colorHandle1:              @colorBlue4;
@colorHandle2:              @colorBlue3;
@colorHandleItem:           @colorff;

// Misc
@colorModalText:            @colord7;
@colorBuy:                  @colorBlue4;

// Transparencies
@colorModal:                rgba(000, 000, 000, 0.85);
@colorFlyover:              rgba(000, 000, 000, 0.80);
@colorFlyoverActive:        rgba(001, 077, 154, 0.85);
@colorDashTailBackground:   rgba(170, 170, 170, 0.50);
@colorCheckmarkBackground:  rgba(255, 255, 255, 0.75);
@colorCheckBackground:      rgba(255, 255, 255, 0.85);
@colorShadowTransparent:    rgba(255, 255, 255, 0);
@colorShadowOpaque:         rgba(255, 255, 255, 1);

