.dashboard-planes-selector {
    .vertical li ul li {
        font-size: 20px;
        min-width: 60px;
    }

    .heading, .theme-light .downloads .heading {
        font-size: 26px;
    }

    .subheading, .theme-light .downloads .subheading {
        font-size: 18px;
    }
}

.logoSection {
    height: 84px;

    p {
        font-size: 45px;
        padding: 19px 0 0 10px;
    }

    .logo {
        height: 84px;
        width: 214px;
    }
}

.menu ul li {
    p {
        font-size: 20px;
    }

    .icon {
            padding: 15px 0 15px 15px;
    }
}

.emergencies ul li .icon div {
    height: 100px;
}

.e6b .textbox {
    width: 300px;
}

.checklist .vertical li {
    .check {
        margin-bottom: 6px;
    }

    .response {
        font-size: 21px;
    }
}
