/** 
--- Checklist Editor 
**/
.theme-dark .cont {
	width: 25%;
	height:100%;
	float: left;
	text-align: center;
}

.theme-dark .title {
	width: 100%;
	float: left;
	text-align: center;
}

.theme-dark .buttons {
	width: 100%;
	float: left;
	text-align: center;
}

.theme-dark .buttonPM_cont {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	float: none;
}
.theme-dark .box {
	width: 25%;
	float: left;
	text-align: center;
	height:100%;
}

.theme-dark .selectboxdiv {
	width: 100%;
	float: left;
	background-color:#454a4e;
	height: 100%;
}

.theme-dark .Select-Container {
        overflow:auto; 
        height:100%;
}

.theme-dark .returnedCheckLists {
	
}

.theme-dark .listbox {
	width:80%;
	overflow:auto;
}
.theme-dark #s1, .theme-dark #s2,.theme-dark #s3,.theme-dark #s4
{
	width:95%;
	min-height:100%;
	background-color:#26292b;
	padding-bottom:3px;
	float:left;
}

.theme-dark #centerbutton {
	margin-left:20px;
	margin-right:20px;
}

.theme-dark .ARitem {
	display:none;
}

.theme-dark .CheckListItem {
	display:none;
}

.theme-dark #modalListDiv, .theme-dark #duplicateListDiv {
	display:none;
	height:350px;
	width:500px;
	background-color: #292D35;
	text-align:center;
	padding-top:20px;
	position:relative;
	z-index:200;
}

.theme-dark #modalSelectList, .theme-dark #dupChklist_Select {
	display:block;
	float:left;
	margin-top:auto;
	margin-left:100px;
	margin-top:0px;
	margin-bottom:100px;
	width:300px;
}

.theme-dark #modaldisplay {
	background-color: black;
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	display:none;
	z-index:100;
}

.theme-dark #dupChklist_Button_OK, .theme-dark #OK , .theme-dark #OK_AR{
	display:block;
	float:left; 
	margin-left:130px; 
	margin-top:50px; 
	padding:10px; 
	width:100px;
}

.theme-dark #dupChklist_Button_Cancel, .theme-dark #Cancel, .theme-dark #Cancel_AR {
	display:block;
	float:right; 
	margin-right:130px; 
	margin-top:50px; 
	padding:10px; 
	width:100px;
}

.theme-dark #AddNew {
	display:block;
	float:left; 
	margin-left:130px; 
	margin-top:20px; 
	padding:10px; 
	width:100px;
}

.theme-dark #modalText {
	display:none;
	float:none;
	color: gray;
}

.theme-dark #OverlayText{
	display:block;
	margin-bottom:20px; 
	float:none; 
	color:white;
}

.theme-dark #AddPicture {
	display:block;
	float:right; 
	margin-right:130px; 
	margin-top:20px; 
	padding:10px; 
	width:100px;
}

.theme-dark #picFile {
	float:left;
}

.theme-dark #previewPic {
	float:left;
	width:100px;
	height:100px;
	margin-left:50px;
	border: dashed 2px white;
}

.theme-dark #previewPicDiv {
	float:left;
	width:100%;
	height:100px;
}

.theme-dark .pictureUpload{
	display:none;
}

.theme-dark #picForm {
	float:left;
	width:50%;
	margin-left:25px;
}

.theme-dark #picProgress {
	display:none;
	float:left;
	width:100%;
	margin-top:60px;
}

.theme-dark #Check_AddNew, .theme-dark #Response_AddNew , .theme-dark #Section_AddNew{
	float:left;
	width:90%;
	margin-left:20px;
	margin-top:10px; 
	margin-bottom:10px;
}

.theme-dark #CheckListInputsDiv {
	position:absolute;
	top:0px;
	left:0px;
	background:rgba(0,0,0,0.5);
	width:100%;
	display:none;
	text-align:center;
	z-index:9999;
}

.theme-dark #Item_Section, .theme-dark #Item_Index, .theme-dark #Item_Check, #Item_Response {
	width:100%;
}

.theme-dark #Item_Section_AddNew {
	margin-left:auto;
	margin-right:auto;
	float:none;
	width:100px;
	height:35px;
}

.theme-dark .CheckListInputs {
	width: 20%;
	float:left;
	margin-left:30px;
	margin-right:10px;
	margin-top:10px;
	margin-bottom:10px;
}

.theme-dark .CheckListItem_Section {
	width:100%;
	float:right;
	margin-right:20px;
	text-align:right;
	color:#AAA
}

.theme-dark .CheckListItem_Check {
	width:100%;
	float:left;
	margin-left:20px;
	text-align:left;
	color:#AAA
}

.theme-dark .CheckListItem_Response {
	width:100%;
	float:left;
	margin-left:20px;
	text-align:left;
	color:#AAA
}

.theme-dark .CheckListItem_Values {
	color:#FFF;
}

.theme-dark .NewSectionButton {
	float:left;
}

/** Button Theme **/
.theme-dark .button2 {
	text-align: center;
	border: none;
		background: #292e32; /* Old browsers */
background: -moz-linear-gradient(top,  #292e32 0%, #111214 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#292e32), color-stop(100%,#111214)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #292e32 0%,#111214 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #292e32 0%,#111214 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #292e32 0%,#111214 100%); /* IE10+ */
background: linear-gradient(to bottom,  #292e32 0%,#111214 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292e32', endColorstr='#111214',GradientType=0 ); /* IE6-9 */

	color: #98adb1;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display:block;
	cursor: pointer;
	padding:5px;
	margin-top:5px;
	margin-bottom:5px;
	float:left;
}

.feedback { font-size: 1.0em; }
.selectable .ui-selecting { background: #FECA40; }
.selectable .ui-selected { background: #F39814; color: white; }
.ui-selected .CheckListItem_Section, .ui-selected .CheckListItem_Check, .ui-selected .CheckListItem_Response { color:black; font-weight: bold; }
.selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.selectable li { width:97.5%; margin-top: 3px; margin-left:3px; font-size: 0.9em; height: auto; float: left; position: relative; }

.theme-dark .dialog {
	border: 1px solid #292E32;
	background: #000813;
	color: #98adb1;
}

.theme-dark .dialog .icon {
	color: #f1f1f1;
}

/** 
---- Product Editor
**/

.theme-dark .rounded {
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.theme-dark .rounded-light {
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.theme-dark .border {
	border:solid 1px black;
}

.theme-dark .selected {
	background-color: #F39814;
	color:black;
}

.theme-dark #editButtons {
	width:100%;
	overflow:hidden;
}

.theme-dark #editButtons button {
	width:145px;
	height:40px;
	margin-top:5px;
	margin-right:10px;
	font-weight:bold;
	float:left;
}

.theme-dark .productsCont {
	color:white;
	float:none;
	margin-left:auto;
	margin-right:auto;
	width:1200px;
	height:800px;
}

.theme-dark #productsWrapper {
	float:left;
	height:470px;
	width:300px;
	background-color:#2A2E31;
	overflow:auto;
}

.theme-dark .productBackground {
	background-color:#5C6266;
}

.theme-dark .product {
	border:solid 1px black;
	margin: 6px; 6px; 6px; 3px;
	padding:5px;
	width:90%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.theme-dark .productText {
	margin-left:5px;
}

.theme-dark .productDetailsWrapper {
	margin-left: 20px;
	float:left;
	min-height:468px;
	width:680px;
	background-color:#2A2E31;
}

.theme-dark .productsGeneral {
	padding:10px;
	width:300px;
	float:left;
}

.theme-dark .productDetails {
	width: 100%;
	height:100%;
	padding-left:10px;
	float:left;
}

.theme-dark .productColumnLeft {
	width:190px;
	height:100%;
	float:left;
	margin-right:20px;
}

.theme-dark .productsPlatform {
	margin-right:55px;
	width:300px;
	float:right;
}

.theme-dark .productLabel {
	margin-left:10px;
}

.theme-dark .productSpacer {
	margin-top:30px;
}

.theme-dark .productInput {
	margin-top:5px;
	margin-left:10px;
	margin-bottom:10px;
}

.theme-dark .productImage {
	width:80px;
	height:80px;
	background-color:white;
	cursor:pointer;
}

.theme-dark .productStatus {
	width: 10px;
	height: 10px;
	float: right;
	position: relative;
}

.theme-dark .checkedIn {
	background-color: green;
}

.theme-dark .notCheckedIn {
	background-color: red;
}

.theme-dark .addPicCont {
	padding:20px;
}

.theme-dark .addPicHeader {
	text-align:center;
}

.theme-dark .addPicPreview {
	float:left;
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
	border: dotted 4px white;
	height:80px;
	width:80px;
}

.theme-dark .addPicPreview img {
	height:80px;
	width:80px;
}

.theme-dark .addPicSelect {
	float:left;
	margin-left:125px;
	margin-top:100px;
}

.theme-dark .picProgress {
	float:right;
	width:100%;
	margin-top: 50px;
}

.theme-dark .addPicClose {
	float:right;
	margin-top:-20px;
	width:20px;
	height:20px;
	cursor:pointer;
	text-align:center;
}

.theme-dark .addPicAccept {
	float:left;
	margin-top:100px;
	text-align:center;
	width:100%;
}

.theme-dark .addPicAccept button {
	margin-left:auto;
	margin-right:auto;
	width:150px;
	height:40px;
	
}

.theme-dark #changePictureWindow, 
.theme-dark #pictureBrowser, 
.theme-dark #addNewProduct {
	display:none;
}

.theme-dark #checkInBtn {
	display:block;
	position:relative;
	float:right;
	margin-right:50px;
	height:40px;
	width:100px;
	color:white;
	font-size:12pt;
}

.theme-dark #modalDisplay, .theme-dark #modalPopUp {
	display:none;
	background-color: black;
	position:absolute;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
	opacity:0.5;
	z-index:2000;
}

.theme-dark #modalWindow {
	display:none;
	position:absolute;
	height:500px;
	width:715px;
	background-color:#2A2E31;
	top:0px;
	left:0px;
	z-index:2100;
	color:white;
}

.theme-dark #results {
	padding:10px;
	color:white;
	float:left;
	width: 100%;
	height: 100%;
}

.theme-dark #popUp {
	display:none;
	padding:10px;
	color:white;
	float:left;
	width: 100%;
	height: 100%;
}

.theme-dark #addNewProductBtn {
	width:100px;
	height:30px;
	margin-top:5px;
}

.theme-dark #addNewProductCancelBtn {
	float:right;
	width:100px;
	height:30px;
	margin-top: -29px;
	margin-right: 33px;
}

.theme-dark .addNewProductInput {
	margin-top:5px;
	margin-left:10px;
	margin-bottom:10px;
}
.theme-dark .addNewProductInput select,
.theme-dark .addNewProductInput input {
	width:200px;
}

.theme-dark #pictureBrowser {
	height:300px;
	width:580px;
}

.theme-dark .pbButton {
	width:150px;
	height:30px;
}

.theme-dark #pbButtonAccept, .theme-dark #pbButtonCancel, .theme-dark #pbButtonUpload {
	margin-right:20px;
	margin-left:20px;
}

.theme-dark .pbImagesCont {
	overflow:auto;
	height:400px;
	width:650px;
	margin:20px;
	text-align:center;
}

.theme-dark .pbImageWrap {
	float:left;
	width:100px;
	height:120px;
	margin:10px;
}

.theme-dark .pbImage {
	width:80px;
	height:80px;
	margin:10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 5px;
}

.theme-dark .pbImage img {
	width:80px;
	height:80px;
}

.theme-dark .pbImageDeleteButton {
	width:12px;
	height:19px;
	cursor:pointer;
	margin-left:auto;
	margin-right:auto;
}

.theme-dark .pbContainer {
	height:300px;
	width:690px;
}